/* /* //varaiable

$black-50: #2e384d;
$green:#0cb95a;
$red:#ef3434;
$white:#fff;
$gray:
$medium: 500; */

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
} */ */

body {
    background-color: rgb(212, 211, 214);
    align-items: center;
}

.container {
    background-color:rgb(14, 82, 124);
    text-align: center;
    width: 90rem;
    padding: 1.5rem;
}

.Balance {
    align-items: center;
}